[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
networkx = "*"
pyvis = "*"
plotly = "*"
python-levenshtein = "*"
osmnx = "*"
psycopg2-binary = "*"
protobuf = "*"
scikit-learn = "*"
psutil = "*"
haversine = "*"
altair = "*"
matplotlib = "*"
jaro-winkler = "*"
numpy = "*"
pandas = "*"
validators = "*"
st-link-analysis = "*"

[dev-packages]

[requires]
python_version = "3.9"
