[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.13"
networkx = "*"
pyvis = "*"
h5py = "*"
plotly = "*"
python-levenshtein = "*"
osmnx = "*"
sqlalchemy = "<2.0"
psycopg2-binary = "*"
protobuf = "==3.19"
scikit-learn = "==1.0.2"
psutil = "*"
haversine = "*"
altair = "==4.0"

[dev-packages]

[requires]
python_version = "3.9"
