[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.13"
networkx = "*"
pyvis = "*"
h5py = "*"
plotly = "*"
python-levenshtein = "*"
osmnx = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
protobuf = "==3.19"

[dev-packages]

[requires]
python_version = "3.9"
